.fiona{
  max-width: 900px;
}
.fio{
  min-height: 100vh;
}
.fioo{
  letter-spacing: 3px;
}
.she{
  object-fit : cover;
}
.bg{
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg);
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  
}
body{
  overflow-x: hidden;
}
.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #04AA6D;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}